.hero {
    background-color: #666;
    background-image: url(../images/fondo.jpg);
    height: 45vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    .align {
        padding: 12vh 0;

        h1 {
            font-family: var(--secondary-font);
            color: white;
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        h5 {
            color: var(--primary-color);
            font-size: 0.75rem;
            margin-bottom: 0.5rem;
        }

        p {
            color: white;
            font-size: 0.75rem;
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 100px;

            a {
                display: inline-block;
                color: white;
                text-decoration: none;
            }
        }
    }
}

#ourservices {
    text-align: center;
    margin-top: 2rem;

    .articulos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--gap);

        article {
            padding-left: 1rem;
            text-align: left;
            border-left: 1px solid black;

            h3 {
                font-size: 0.75rem;
                font-weight: 700;
                margin: 5px 0;
            }

            p {
                font-size: 0.75rem;
            }

            a {
                text-decoration: none;
                font-size: 0.6rem;
                color: var(--primary-color);
                font-weight: 700;
                i{
                    padding-left:2px;
                }
            }

        }

    }


}